/* -----------------------------------Header----------------------------------- */

/* Header Section*/

.headerBackground{
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.headerTitle{
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 24px;
    font-family: "Times New Roman";
    border: none;
}

/* -----------------------------------Drop Down Nav Menu in Header----------------------------------- */

/* Drop Down Menu Location*/
.dropdownMenuLocation {
    float: left;
}

.dropdownMenuButton {
    background-color: black;
    color: white;
    padding: 32px;
    font-size: 20px;
    font-family: "Times New Roman";
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display:block}

.dropdown:hover .dropdownMenuButton {background-color: #8f63f5;}

/* -----------------------------------Main Section Background Colour----------------------------------- */

.background{
    background: linear-gradient(107deg, rgba(28,16,65,1) 0%, rgba(184,61,92,1) 59%, rgba(60,20,77,1) 96%);
    padding: 28px;
}

/* -----------------------------------Index Page Main Section----------------------------------- */

/* Promotional Section */

.promotionalMaterialLocation {
    text-align: center;
}

.promotionalTextHeader{
    font-size: 42px;
    color: white;
    font-family: "Times New Roman";
}

.imageSize{
    padding: 3px;
}
.imageCaptions{
    font-size: 14px;
    color: white;
    font-family: "Times New Roman";
    padding: 3px;
}

.promotionalTextGeneral{
    font-size: 32px;
    color: white;
    font-family: "Times New Roman";
}

/* Get Started Button */

.kanbanBoardLayout{
    text-align:center;
}

.getStartedButtonBackground{
    background-color: beige;
    border: none;
    padding: 3px 32px 3px;
    text-align: center;
    font-size: 48px;
    cursor: pointer;
    border-radius: 4px;
}

/* -----------------------------------Kanban Board Main Section----------------------------------- */

/* Title Element */
.kanbanBoardTitle{
    font-size: 42px;
    color: white;
    font-family: "Times New Roman";
    text-align: center;
    text-decoration: underline;
}

/* Modal Pop Up */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
}

.modalContent {
    background-color: #5692a2;
    margin: 12% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #980101;
    text-decoration: none;
    cursor: pointer;
}

/* model Content*/
.createNewTaskPopUpBox {
    display: none;
    background: #3b4c98;
    width: 40%;
    flex-direction: column;
    padding: 0.6rem;
    min-width: 14rem;
    min-height: 4.5rem;
    border-radius: 0.3rem;
}

.formRow {
    display: flex;
    flex-direction: row;
    margin: 0.2rem;
}

.formRowLabel {
    width: 15%;
    padding: 0.2rem;
    padding-right: 0.5rem;
    border: 0.1rem solid black;
    border-right: 0;
    border-radius: 0.2rem 0rem 0rem 0.2rem;
    color: black;
    font-weight: bold;
}

.formRowInput {
    border: 0.1rem solid black;
    border-radius: 0rem 0.2rem 0.2rem 0rem;
    width: 85%;
    color: black;
}

textarea {
    resize: none;
}

.formActionButtons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0.2rem;
}

.saveTaskButton {
    border: none;
    padding: 3px 15px 3px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.saveTaskButton:hover {
    background-color: rgb(199, 199, 199);
    text-decoration: none;
    cursor: pointer;
}

/* Card Elements */
.createANewTaskLocation{
    text-align: center;
    padding-bottom: 10px;
}

.createANewTask{
    border: none;
    padding: 8px 20px 8px;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
    border-radius: 4px;
}

.createANewTask:hover{
    background-color: rgb(199, 199, 199);
    text-decoration: none;
    cursor: pointer;
}

.container {
    width: 70%;
    min-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 22px;
    padding-bottom: 50px;
}

.kanbanBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blockHeaders {
    font-size: 28px;
    color: black;
    padding: 3px;
    text-align: center;
    font-weight: bold;
}

.kanbanBlock {
    padding: 0.6rem;
    width: 30.5%;
    min-width: 14rem;
    min-height: 4.5rem;
    border-radius: 0.3rem;
}

#todo {
    background-color: #8f3e3e;
}

#inProgress {
    background-color: #a68960;
}

#completed {
    background-color: #577c57;
}

.task {
    background-color: white;
    margin: 0.2rem 0rem 0.3rem 0rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    padding: 0.5rem 0.2rem 0.5rem 2rem;
}
.taskHeader {
    color: black;
    text-align: left;
    font-size: 18px;
    text-decoration: underline;
}

.taskDescription{
    color: black;
    text-align: left;
    font-size: 14px;
}





















/* Start Over Button Element */
.startOverButtonLocation{
    text-align: center;
}

.startOverButton {
    background-color: beige;
    border: none;
    padding: 3px 32px 3px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
}

#confirmationMenu {
    background-color: #ffffff;
    display: none;
    text-align: center;
    padding: 12px 10px 12px;
    border-radius: 5px;
    border: 1px solid #aaa;
    width: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    box-sizing: border-box;

}
#confirmationMenu button {
    background-color: #ccc;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    text-align: center;
    width: 80px;
    cursor: pointer;
}
#confirmationMenu button:hover
{
    background-color: #ddd;
}
#confirmBox .message
{
    text-align: left;
    margin-bottom: 8px;
}

/* -----------------------------------About----------------------------------- */

.aboutSectionLocation{
    text-align: center;
}

.aboutSectionTitle{
    font-size: 42px;
    color: white;
    font-family: "Times New Roman";
    text-decoration: underline;
}

.aboutSectionDescription{
    font-size: 24px;
    text-align: center;
    color: #ffffff;
}

.aboutSectionInfo{
    font-size: 18px;
    text-align: left;
    color: white;
}

.imageSize{
    padding: 8px;
}


/* -----------------------------------Footer----------------------------------- */

/* Footer */

.footer {
    padding:25px 0;
    background-color:#ffffff;
    color:#4b4c4d;
}

.footer ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer li {
    padding:0 10px;
}

.footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer ul a:hover {
    opacity:3;
}

.footer .social {
    text-align:center;
    padding-bottom:25px;
}

.footer .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footer .social > a:hover {
    opacity:3;
}

.footer .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}